.scroll{
	height:100%;
	width:30%;
	text-align:left;
	border: 2px solid red;
}



.plane-wrapper{
	width:10%;
	float:left;
}

.crate-wrapper{
	width:90%;
	/*position:fixed;*/
	float:right;
}
.card{
	z-index:10;
}
