@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html{
  height: 100%;
}
body{
  background: -webkit-radial-gradient(center, ellipse cover, #FCFCFC 0%,#D8D8D8 100%);
	font-family: "Open Sans", Sans-serif;
}
.crate{
	width: 145px;
	height: 100px;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.39) 1%,rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.1) 100%), #CA8E50;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.39) 1%,rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.1) 100%), #CA8E50;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.39) 1%,rgba(255, 255, 255, 0) 2%, rgba(255, 255, 255, 0.1) 100%), #CA8E50;
	margin: 0px auto;
	border: 1px solid #B16E38;
	margin-top: 100px;
	line-height: 90px;
	text-indent: 10px;
  padding-left:5px;
	font-size: 11px;
	font-weight: bold;
	color: #8B582F;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
}
.crate:after{
content: '';
width: 135px;
height: 100px;
background: rgba(255, 255, 255, 0);
margin: -25px 2px;
display: block;
position: absolute;
box-shadow: 0px 10px 40px #333;
-webkit-transform: perspective(500px) rotateX(75deg);
  -moz-transform: perspective(500px) rotateX(75deg);
  -o-transform: perspective(500px) rotateX(75deg);
z-index: -99;
}
.crate:before{
content: '';
width: 136px;
height: 100px;
background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 4%,white 5%,rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 100%), #E4AF78;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 4%,white 5%,rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 100%), #E4AF78;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 4%,white 5%,rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 100%), #E4AF78;
margin: -66px auto;
  margin-left:1px;
display: block;
border: 1px solid #B16E38;
-webkit-transform: perspective(500px) rotateX(75deg);
  -moz-transform: perspective(500px) rotateX(75deg);
  -o-transform: perspective(500px) rotateX(75deg);
}